.dgw-nav {
    box-sizing: border-box;
    background: #0a0a0a;
    transition: 75ms linear outline;
    outline: 1px inset transparent;
}

.dgw-nav-border {
    background: rgba(10, 10, 10, 0.8);
    -webkit-backdrop-filter: blur(10px) saturate(250%) brightness(110%);
    backdrop-filter: blur(10px) saturate(250%) brightness(110%);
    outline: 1px inset #303030;
}

.dgw-nav h1 {
    text-align: center;
    color: white;
    padding: 1rem;
    margin: 0;
    font-size: x-large;
    transition: 200ms linear opacity, 250ms ease-out transform;
}

#work-header,
#tech-header,
#portfolio-header {
    opacity: 0;
}

.dgw-intro-code {
    margin-top: 2rem;
    font-size: 3rem;
}

.dgw-nav-primary {
    transform: translateY(0px);
    opacity: 1;
}

.dgw-nav-secondary {
    transform: translateY(20px);
    opacity: 0;
}

.dgw-opacity-1 {
    transform: translateY(0px) !important;
    opacity: 1 !important;
}

.dgw-opacity-0 {
    transform: translateY(-20px) !important;
    opacity: 0 !important;
}

.dgw-intro {
    width: 100%;
    padding: 2rem;
    margin-top: 4.5rem;
    background: #0a0a0a;
}

.dgw-main {
    background: rgba(0, 0, 0, 0.7) !important;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10rem black;
}

.card {
    border: none !important;
}

.dgw-info-card {
    box-shadow: 0px 0px 30px black;
    transition: box-shadow 200ms ease, transform 200ms ease;
    z-index: unset;
    margin-bottom: 30px;
}

.dgw-info-card:hover {
    box-shadow: 0px 0px 3rem black;
    transform: scale(1.02) translateY(-3px);
    z-index: 100;
}

.dgw-card-title {
    font-weight: bolder;
}

.dgw-bar {
    border-radius: 0.2rem 0.2rem 0 0;
}

.dgw-bar>.dgw-card-title {
    margin: 0.5rem;
}

.dgw-bar:not(.dgw-bar-2)>.dgw-card-title {
    color: rgba(0, 0, 0, 0.8);
}

.dgw-bar:not(.dgw-bar-1):not(.dgw-bar-3):not(.dgw-bar-4)>.dgw-card-title {
    color: rgba(255, 255, 255, 0.95);
}

.dgw-bar-1 {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.dgw-bar-2 {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.dgw-bar-3 {
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.dgw-bar-4 {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

h1.dgw-section-header {
    margin-bottom: 3rem;
}

.dgw-footer-container {
    background: #151515;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.dgw-footer {
    font-size: x-small;
    color: gray;
}

img.dgw-profile-img {
    border-radius: 160px !important;
}

p.dgw-trivia {
    color: gray !important;
}